[workspace]
name = "eventide"
version = "0.1.0"
description = "A simple C++20 coroutine wrapper for libuv"
authors = ["ykiko <ykikoykikoykiko@gmail.com>"]

license = "Apache-2.0"
license-file = "LICENSE"
readme = "README.md"
documentation = "https://clice.io"
repository = "https://github.com/clice-io/eventide"

channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64"]

[target.linux-64.dependencies]
sysroot_linux-64 = "==2.17"
gcc = "==14.2.0"
gxx = "==14.2.0"

[target.osx-arm64.dependencies]
clang = "==20.1.8"
clangxx = "==20.1.8"
lld = "==20.1.8"
llvm-tools = "==20.1.8"
compiler-rt = "==20.1.8"

[feature.format.dependencies]
pre-commit = "*"
clang-format = "*"
stylua = "*"
[environments]
default = []
format = ["format"]

[feature.format.tasks]
format = "pre-commit run --all-files"

[tasks]
xmake-test = "xmake test --verbose"
xmake-build = "xmake --verbose --diagnosis"

[tasks.ci-xmake-configure]
args = ["build_type"]
cmd = "xmake config --clean --yes --mode={{ build_type }}{% if pixi.is_osx %} --toolchain=clang{% endif %}"

[tasks.ci-xmake-build]
args = ["build_type"]
depends-on = [
    { task = "ci-xmake-configure", args = ["{{ build_type }}"] },
    { task = "xmake-build" },
    { task = "xmake-test" },
]
